/* PHASE 5: Cats */

.content-header {
  height: 200px;
  width: 100%;
  background-image: url('../cats.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content-header h1 {
  position: absolute;
  margin: auto;
  left: 240px;
  bottom: 20px;
  font-size: 36px;
  color: white;
  font-weight: 300;
  text-shadow: 2px 2px 20px black;
  line-height: 1;
}

.content-header button {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
